# App environment variables
SPRING_PROFILES_ACTIVE=dev

# Database configuration
DB_USER=example
DB_PASSWORD=example
DB_NAME=example
DB_PORT=5432

# Backend config
BACKEND_PORT=8080
BACKEND_IMAGE=optic-console
BUILD_TARGET=dev # dev or prod
