<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{email/base-email :: html}">
<body>
<div th:fragment="content">
    <h2>Password Reset Request</h2>
    <p>Hello <span th:text="${name}">User</span>,</p>
    <p>We received a request to reset your password. Click the button below to proceed:</p>

    <a th:href="${resetLink}" class="button">Reset Password</a>

    <p>If you didn't request this, please ignore this email or contact support if you have questions.</p>
    <p>This link will expire in 24 hours.</p>
</div>
</body>
</html>